PAGE_ACCESS_TOKEN= #enter your access token
FB_PAGE_ID= #enter your fb page id
IG_ACCOUNT_ID= #enter your ig page id
FOLDER_ID= #enter your folder id where you upload the poster 
POSTED_FOLDER_ID= #enter your folder id where the poster needs to move after getting posted
INBOX_FOLDER_ID= #enter your folder id where the poster needs to move after getting rejected
DEFAULT_CAPTION= #enter your default caption
YOUTUBE_TITLE=New Video!
YOUTUBE_DESCRIPTION=Check out our latest video!
YOUTUBE_CATEGORY=22
YOUTUBE_PRIVACY=public
PUBLIC_DOMAIN=https://your-domain name.pythonanywhere.com
GOOGLE_CLIENT_ID= #enter your google client id
GOOGLE_CLIENT_SECRET= #enter your google client secret
ALLOWED_EMAILS= #enter your email id which only need to get accessed
